<form (ngSubmit)="onSubmit()" class="custom-form">
    <div class="form-group">
      <label for="availability">Availability:</label>
      <input type="checkbox"  id="availability" name="availability" [(ngModel)]="formData.availability">
    </div>
    <div class="form-group">
      <label for="capacity">Capacity:</label>
      <input type="number" id="capacity" min="1" max="50" name="capacity" [(ngModel)]="formData.capacity">
    </div>
    <!--<div class="form-group">
      <label for="typeReservation">Type Reservation:</label>
      <select id="typeReservation" name="typeReservation" [(ngModel)]="formData.typeReservation">
        <option value="cours">Cours </option>
        <option value="résumé">Résumé</option>
        <option value="examens">examens</option>
        <option value="tps">tps</option>
      </select>
    </div>
  -->
    <button type="submit">Submit</button>
  </form>
  